/*CSS Reset*/

/*add ul, list-style none.*/

html, body, header, nav, h1, a, li, strong, main, button, i,
section, img, div, h2, h3, h4, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  background-color: lightgrey;
}

h1 {
  font-size: 48px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

.body-container {
  margin: 30px;
  padding: 20px;
  background-color: white;
}

.student-container {
  display: flex;
  max-height: 300px;
}

.avatar {
  width:  120px;
  height: 120px;
}
